/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/* Stylings for the header */
header .container {
    display: flex;
    justify-content: space-between;
}

header .container ul {
    display: flex;
}

header .container li {
    list-style: none;
}

header .container a {
    text-decoration: none;
}

/*Stylings for the Learn About section*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}